<header>
  <h1>EAT-DA-BURGER!!!</h1>
</header>

<figure>
  <img src="https://static.onecms.io/wp-content/uploads/sites/9/2019/05/Burger-National-Hamburger-Day-FT-Blog0619.jpg"
    alt="burger">
</figure>

<section id="form-section">
  <h2>Add a Burger!</h2>
  <form class="create-form">

    <div class="form-group">
      <label for="ca">What's the name of the Burger?</label>
      <input type="text" id="bgr" name="name">
    </div>

    <button class="submit" type="submit">Add Burger</button>
  </form>
</section>


<div class="table">

  <section id="notEaten">
    <h2>Burgers waiting to be devoured!</h2>

    <ul>
      {{#each burgers}}
      {{#unless devoured}}
      {{> burgers/burgerBlocks devoured=true}}
      {{/unless}}
      {{/each}}
    </ul>
  </section>

  <section id="eaten">
    <h2>Burgers that have been devoured!</h2>

    <ul>
      {{#each burgers}}
      {{#if devoured}}
      {{> burgers/burgerBlocks devoured=false}}
      {{/if}}
      {{/each}}
    </ul>
  </section>
</div>